a.bg_bpub_toc_h1 {
	margin-left: 0px;
}
a.bg_bpub_toc_h2 {
	margin-left: 1em;
}
a.bg_bpub_toc_h3 {
	margin-left: 2em;
}
a.bg_bpub_toc_h4 {
	margin-left: 3em;
}
a.bg_bpub_toc_h5 {
	margin-left: 4em;
}
a.bg_bpub_toc_h6 {
	margin-left: 5em;
}
span.bg_bpub_book_author {
	font-size:80%;
	font-weight: normal;
}